html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

a,
a:hover {
  text-decoration: none;
}

.page {
  display: flex;
  height: 100%;
}

.navigation {
  min-width: 14em;
  max-width: 14em;
  background: #323439;
  padding: 3em;

  a {
    color: #d0d0d0;
    transition: all 0.3s;
  }

  a:hover, a:focus, .active {
    color: #fff;
  }

  .username {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

}

.username {
  color: #888;
}

.mainPanel {
  flex-grow: 1;
  height: 100%;
}

.glyphicon-trash,
.glyphicon-download {
  cursor: pointer;
  color: #88f;
  &:hover {
    color: #33f;
  }
}



.noResultsMessage {
  margin-top: 2em;
  color: #888;
}

a, a:hover, a:focus  {
  text-decoration: none;
}