html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

a,
a:hover {
  text-decoration: none;
}

.page {
  display: flex;
  height: 100%;
}

.navigation {
  background: #323439;
  padding: 3em;
  margin-right: 2em;

  a {
    color: #ddd;
  }

  a:hover {
    color: #fff;
  }

}

.username {
  color: #888;
}

.mainPanel {
  flex-grow: 1;
  height: 100%;
}