.documents {
  padding-left: 2em;
  height: 100%;
  overflow-y: auto;
  background: #f8f8f8;
  padding-right: 1em;
}

.documents .formRow {
  margin-top: 1em;
  display: flex;

  .createDocumentButton {
    margin-right: 1em;
  }

  .searchFieldContainer {
    width: 30em;
    position: relative;

    .searchField {
      display: block;
      padding-right: 2em;
    }

    .glyphicon {
      position: absolute;
      top: 0.7em;
      right: 0.5em;
    }
  }

}

