<template name="documentCard">
    <a class="documentCard" href="{{pathFor 'editDocument' this._id}}">
        <div class="documentContent">
            <h3>{{title}}</h3>
            <p>{{text}}</p>
        </div>
        <div class="documentCardFooter">
            {{#if issueCount}}
                <span class="issueCount" title="{{issueCountText}}">{{issueCount}}</span>
            {{/if}}
            <span class="glyphicon glyphicon-trash" title="Delete Document"></span>
        </div>
    </a>
</template>