.documentCard {
  width: 20%;
  border: 1px solid #dddddd;
  display: block;
  background: white;
  float: left;
  margin: 1em 1em 1em 0;
  padding: 1em;

  h3 {
    padding: 0;
    margin: 0 0 6px;
    font-size: 14px;
    line-height: 17px;
    font-weight: bold;
    color: #333;
  }

  p {
    color: #888;
    font-size: 0.9em;
    margin: 0;
    padding: 0;
    line-height: 15px;
    font-size: 11px;
    overflow: hidden;
  }

  .documentContent {
    height: 100px;
    margin-bottom: 1em;
    overflow: hidden;
  }

}

.documentCard:hover {
  text-decoration: none;

}

.documentCardFooter,
.documentCard:hover .documentCardFooter {
  color: #33f;
}

.documentCardFooter .glyphicon:hover {
  color: #66f;
}