<template name="loggedInLayout">

    <div class="page">
        <div class="navigation">
            <a href="{{pathFor "documents"}}" class="{{isActiveRoute regex='documents'}}">My Documents</a>
            <a href="{{pathFor "dictionary"}}" class="{{isActiveRoute regex='dictionary'}}">My Dictionary</a>
            <br/><br/>

            <a href="/sign-out">Sign Out</a>
            <div class="username">{{userEmail}}</div>

        </div>
        <div class="mainPanel">{{> yield}}</div>
    </div>



</template>