<template name="dictionary">
    <div class="dictionary">
        <form class="formRow addDictionaryEntryForm">
            <input class="form-control newDictionaryEntryText" placeholder="Type a new word to add it..."
                   value="{{newDictionaryEntryText}}"/>
            <button class="btn btn-success addDictionaryEntryButton" {{addButtonDisabledAttribute}}
                    title="Add to Dictionary">Add
            </button>
        </form>
        {{#if isDuplicate}}
            <div class="duplicateMessage">This word is already in your dictionary.</div>
        {{/if}}

        <div class="dictionaryEntries">
            {{#each this}}
                {{> dictionaryEntry}}
            {{else}}
                <p class="noResultsMessage">
                    Your dictionary looks pretty empty.
                </p>
            {{/each}}
        </div>
    </div>

</template>


<template name="dictionaryEntry">
    <div class="dictionaryEntry">
        <span class="glyphicon glyphicon-trash" title="Delete Word"></span> {{text}}
    </div>
</template>
